<!DOCTYPE html>
<html lang="en">
	<head>
    		<meta charset="UTF-8">
    		<title>Welcome Page</title>
	</head>
	<body>
   		<h1 align="center">Welcome to our online tiffin services</h1>
		<center>
			<h3>To Enjoy Our Services please Signin</h3>
			<form action="/send_signin" method="post">
				<button>SignIn</button>
			</form>
			<br>
			<h3>If you are a new user please SignUp</h3>
			<form action="/send_signup" method="post">
				<button>SignUp</button>
			</form>
​		</center>
	</body>
</html>



