<html>
<body>
<center>
    <h1>Welcome to Inventory Management System</h1>
    <hr>
    <br>
    <form method="get" action="insert_page">
        <button>Insert</button>
    </form>
    <br>
     <form method="get" action="/delete_page">
        <button>Delete</button>
    </form>
    <br>
    <form method="get" action="/update_page">
        <button>Update</button>
    </form>
    <br>
    <form method="get" action="/search_page">
        <button>Seach</button>
    </form>
    <hr>
</center>
</body>
</html>
